<div class="productos flex justify-center items-center">
  <div *ngFor="let producto of productos" class="mx-4 my-4">
    <figure class="max-w-lg text-center transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
      <img class="h-80 w-80 object-cover rounded-lg" [src]="producto.img" alt="{{producto.nombre}}">
      <figcaption class="mt-2 text-sm">
        <h2 class="text-2xl font-semibold mb-2 text-black">{{producto.nombre}}</h2>
        <p class="text-black mb-1">Precio: ${{producto.precio}}</p>
        <p class="text-black">Stock: {{producto.stock}}</p>
      </figcaption>
    </figure>
  </div>
</div>
