<div class="contenedor">
    <div class="logo text-center">
        <img src="https://i.postimg.cc/wxmbbG8n/terror.png" alt="Logo de la Empresa" class="mx-auto mb-4">
        <h1 class="text-4xl font-bold text-pastel-blue">LA CRIPTA DEL COLECCIONISTA</h1>
      </div>
      <hr>
  <div class="flex items-center">
    <p class="text-4xl font-black text-gray-900 dark:text-black">Las figuras más aterradoras 🧟‍♂️ ¡Al mejor precio y directo a tu cripta! ⚰️🏠!</p>
    <img class="h-auto max-w-lg ms-auto ml-4" src="https://i.postimg.cc/ZRJ1hP86/TERROR.jpg" alt="image description">
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/fL00DXMT/freddy.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/W1bFtxsy/chuky.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/yNDDy9gX/encapucha.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/LsGnCXjd/machete.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/NMTLWcxK/penny.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/Kj24bH9J/pennyw.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/28C3XgL5/saw.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/Y91qdxpg/lobo.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/T2J3mQNv/loco.jpg" alt="">
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/vH8Hv9Cg/globo.png" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/K8RG6bGm/monja.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg" src="https://i.postimg.cc/jdCY5hGX/vampiro.jpg" alt="">
        </div>
    </div>
  </div>
  <br>
  <p class="text-4xl font-extrabold text-gray-900 dark:text-black">Si alguna figura no cumple tus pesadillas... 😱💰, ¡Nos encargamos del envío de vuelta 📦 y el reembolso del dinero 💸.</p>
</div>